<div class="footer">
	<ul class="social">
		<li>
			<a href="https://www.facebook.com/qbeon">
				<ng-include src="'images/facebook-icon.svg'"></ng-include>
			</a>
		</li>
		<li>
			<a href="https://plus.google.com/100762716433185578713">
				<ng-include src="'images/googleplus-icon.svg'"></ng-include>
			</a>
		</li>
		<li>
			<a href="https://vk.com/qbeon">
				<ng-include src="'images/vk-icon.svg'"></ng-include>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/QbeonCompany">
				<ng-include src="'images/twitter-icon.svg'"></ng-include>
			</a>
		</li>
	</ul>
	<ul class="locations">
		<li>
			<a class="imprint" ui-sref="imprint">Impressum</a>
		</li>
	</ul>
</div>