<div class="center-container unselectable">
	<div class="centered">
		<ul>
			<li
				class="unselectable"
				ng-click="selectLanguage('en_US')">
				English
			</li>
			<li
				class="unselectable"
				ng-click="selectLanguage('de_DE')">
				Deutsch
			</li>
			<li
				class="unselectable"
				ng-click="selectLanguage('ru_RU')">
				Русский
			</li>
		</ul>
	</div>
	<div class="branding">
		<div class="company">
			<div class="logo">
				<ng-include src="'images/qbeon.svg'"></ng-include>
			</div>
			<span class="company-name">Qbeon</span>
		</div>
	</div>
</div>