<div class="container" ng-controller="ArticleController">
	<div class="header">
		<div class="company">
			<img alt="Qbeon Logo" class="logo" src="images/qbeon.png">
			<span class="company-name">Qbeon</span>
		</div>
	</div>

	<div class="feature">
		<h1>Облачные технологии<br>доступные каждому</h1>

		<p>Цифровые данные стали основой нашего современного общества. Люди, организации и машины производят большое количество данных, которые должны храниться в безопасном и надежном месте. Наши цифровые данные должны быть доступны для нас где-бы мы ни были, с любого устройства с доступом к сети интернет.</p>

		<p>С развитием компьютерных технологий, человечество перешло в новую эру облачных вычислений и хранения данных. Серверы для хранения и обработки данных, объединённые в гигантские, распределённые сети формируют цифровые облака.</p>

		<p>Облачные технологии, позволяют решить так называемую <i>"проблему больших данных"</i>. В том случае, когда объёмы данных превышают вычислительные возможности одной машины, требуются технологии, позволяющие распределить вычислительные нагрузки на динамические кластеры.</p>
	</div>

	<div class="feature">
		<h1>Цифровое Облако</h1>

		<p><i>Цифровые облака</i> представляют собой приложения, размещённые в сети интернет. Они предоставляют простой пользовательский интерфейс, который скрывает под собой сложные компьютерные инфраструктуры.</p>

		<p>Такие приложения, как Dropbox, Google Drive, Microsoft OneDrive и т.д. представляют собой один из типов облачных сервисов, а именно SaaS (Software as a Service - Программное обеспечение в качестве сервиса). Облачные хранилища являются абстракцией над сложными, распределёнными, отказоустойчивыми и повсеместно доступными системами хранения данных.</p>
	</div>

	<div class="feature">
		<h1>Существует большая проблема</h1>

		<p>Над данными, которые мы загружаем в облака, легко потерять контроль. Наши цифровые данные могут стать общедоступными для сторонних людей, которы без нашего ведома могут их анализировать, изменять, удалять и использовать по своему собственному усмотрению.</p>

		<p>Облака нам не принадлежат, и у нас, как у пользователей, нет возможности их контролировать. Зачастую, регистрируя аккаунт на облачном приложении, мы автоматически, не вдаваясь в детали, соглашаемся с условиями их использования. Эти условия могут быть изменены в любое время, и в одностороннем порядке, что может отрицательно сказаться на нашей безопасности.</p>
	</div>

	<div class="feature">
		<h1>Облако это всего лишь<br>чужой компьютер</h1>

		<p>Для обеспечения безопасности наших цифровых данных мы организуем частные, сетевые файловые хранилища, как для личного пользования, так и для пользования внутри наших организаций. В то время как большие компании, госсударственные учреждения и организации содержат собственные IT-инфраструктуры, обслуживаемые командами профессиональных IT-специалистов, малые компании и частные лица, ввиду высокой стоимости обслуживания, не могут себе этого позволить.</p>
	</div>

	<div class="feature">
		<h1>Существующие персональные устройства хранения данных эту проблему не решают</h1>

		<p>С рассветом технологий облачных хранилищ, большую популярность приобрели персональные, сетевые устройства хранения данных, однако, запуск в эксплуатацию, и обслуживание таких систем всё-ещё </b>слишком сложны</b>. Они <b>немасштабируемые</b>, <b>недостаточно безопасные</b>, и для своего облуживания требуют профессиональных технических знаний.</p>

		<p>Графический интерфейс таких устройств, на различных операционных системах <b>несогласован</b>, выглядит по-разному, и не всегда предоставляет одинаковый функционал. Файловые системы подобных устройств не способны в полной мере обеспечить продуктивную совместную работу и полноценный конроль над файлами.</p>
		
		<p>Поэтому, зачастую приходится выбирать между удобством предлагаемого сервиса или его безопасностью.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Мы хотим решить эту проблему</h1>
		<h1 class="hide-full">Мы хотим решить<br>эту проблему</h1>

		<p>Облачные технологии являются мощным инструментом современных компьютеризированных систем, но в настоящее время они всё-ещё недоступны для широкого круга пользователей. Построение облачных приложений для обработки и хранения данных является сложным и дорогостоящим процессом.</p>

		<p>Существует необходимость в создании гибкой, динамически масштабируемой, безопасной платформы облачных вычислений.</p>

		<p>Вот уже более одного года, мы работаем над технологией, которая упрощает разработку приложений облачных систем хранения данных.</p>

		<p>В связи с ростом объёмов цифровых данных, и постоянно возрастающей мобильностью цифровых устройств, растёт спрос на простые и безопасные сетевые устройства хранения данных. Следуя спросу рынка, мы разработали технологию, и персональное сетевое устройство хранения файлов, отвечающее самым современным требованиям.</p>
	</div>

	<div class="feature" name="qube_ru_RU">
		<h1>Представляем <i class="highlight">Qube</i></h1>

		<p class="description hide-small">Компактное, сетевое устройство хранения данных<br>для домашнего пользования и малого бизнеса</p>
		<p class="description hide-full">Компактное, сетевое устройство хранения данных для домашнего пользования и малого бизнеса</p>

		<div class="image">
			<img alt="The Qube" src="images/qube.jpg">
		</div>
		<p>Он прост в эксплуатации и работает "прямо из коробки". Просто подсоедините его к Вашему маршрутизатору, установите официальное приложение "Qube App" на своём смартфоне, планшете или домашнем компьютере и Ваш "Qube" готов к использованию! Для его эксплуатации не требуется особых технических знаний.</p>

		<p>С помощью "Qube" вы сможете делиться своими файлами с друзьями, близкими и коллегами - легко и интуитивно, а высокий уровень безопасности обеспечивается за счет шифрования диска и сетевой коммуникации между "Qube" и "Qube App".</p>

		<p>Современный графический интерфейс "Qube App" адаптирован для использования на всех основных платформах, таких как Windows, Mac, Android, IOS и Linux, и вне зависимости от платформы предлагает идентичный функционал.</p>

		<p>Мы разработали технологию беспрерывного доступа к "Qube" по сети интернет. Минуя сложные настройки сети, наше приложение "Qube App" способно обеспечить автоматическую поддержку связи с "Qube" из любой точки мира. Помимо беспрерывного удалённого доступа, она так-же способна обеспечить защиту от разного рода внешних угроз.</p>
	</div>

	<div class="feature app-preview">
		<h1><i class="highlight">Приложения</i></h1>

		<p class="description hide-small">"Qube" поставляется с четырьмя предустановленными приложениями разработанными Qbeon</p>
		<p class="description hide-full">"Qube" поставляется с четырьмя предустановленными приложениями разработанными Qbeon</p>
		<div class="slider">
			<slick settings="appSlider">
				<div class="slide">
					<img src="images/files-table.jpg">
				</div>
				<div class="slide">
					<img src="images/pictures-timeline.jpg">
				</div>
				<div class="slide">
					<img src="images/tmp_appstore.png">
				</div>
			</slick>
		</div>
		<ul class="unselectable">
			<li
				ng-class="{selected: curAppInSlider == 0}"
				ng-click="goToAppSlide(0)">
				Files
			</li>
			<li
				ng-class="{selected: curAppInSlider == 1}"
				ng-click="goToAppSlide(1)">
				Pictures
			</li>
			<li
				ng-class="{selected: curAppInSlider == 2}"
				ng-click="goToAppSlide(2)">
				App Store
			</li>
		</ul>
		<div class="app-desc">
			<p ng-show="curAppInSlider == 0">
				Приложение "Files" позволяет легко просматривать Ваши коллекции файлов и управлять ими. С помощью "Files" легко найти нужные файлы и быстро ими поделиться.</p>
			<p ng-show="curAppInSlider == 1">
				Приложение "Pictures" предназначено для воспроизведения, просмотра, и организации Ваших коллекций фото и видеозаписей.</p>
			<p ng-show="curAppInSlider == 2">
				Приложение "App Store" позволяет приобретать и устанавливать различные приложения расширяющие возможности Вашего "Qube".</p>
		</div>
	</div>

	<div class="feature">
		<h1>Изумительная <i class="highlight">Лёгкость</i></h1>

		<p class="description hide-small">Готов к использованию всего за несколько минут<br>не требует технических навыков</p>
		<p class="description hide-full">Готов к использованию всего за несколько минут, не требует технических навыков</p>

		<div class="image">
			<img alt="Экран настройки" src="images/setup.png">
		</div>
	</div>

	<div class="feature">
		<h1>Всё <i class="highlight">Синхронизировано</i></h1>

		<p class="description hide-small">Все Ваши данные в одном безопасном месте</p>
		<p class="description hide-full">Все Ваши данные в одном<br>безопасном месте</p>

		<div class="image">
			<img alt="Интерфейс диспетчера файлов" src="images/files.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Мгновенные <i class="highlight">Оповещения</i></h1>

		<p class="description">Оповещения, облегчающие совместную работу в команде</p>

		<div class="image">
			<img alt="Оповещения" src="images/notifications.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Безграничная <i class="highlight">Расширяемость</i></h1>

		<p class="description">Дополнительные приложения расширяют возможности<br>и могут быть установлены из официального магазина приложений</p>

		<div class="image">
			<img alt="Дополнительные приложения" src="images/apps.png">
		</div>
	</div>

	<div class="feature">
		<h1>Полный <i class="highlight">Контроль</i></h1>

		<p class="description hide-small">Установленные приложения изолированы,<br>и обладают чётко определённым набором прав</p>
		<p class="description hide-full">Установленные приложения изолированы, и обладают чётко определённым набором прав</p>

		<div class="image">
			<img alt="Permissions dialog UI" src="images/permissions.png">
		</div>
	</div>

	<div class="feature">
		<h1>Удалённый <i class="highlight">Доступ</i></h1>

		<p class="description">"Qube App" автоматически поддерживает связь<br>по зашифрованному каналу в сети интернет</p>
		
		<div class="image">
			<img alt="Remote access illustration" src="images/remote_access.png">
		</div>
	</div>

	<div class="feature">
		<h1>Высокий Уровень <i class="highlight">Безопасности</i></h1>

		<p class="description hide-small">Шифрование диска и сетевой коммуникации<br>по умолчанию активированы прямо "из коробки"</p>
		<p class="description hide-full">Шифрование диска<br>и сетевой коммуникации<br>по умолчанию активированы<br>прямо "из коробки"</p>

		<div class="image">
			<img alt="Disk and network communication encryption illustration" src="images/encryption.png">
		</div>
	</div>

	<div class="feature" name="qube-os_ru_RU">
		<h1>Основан на <i class="highlight">QubeOS</i></h1>

		<p class="description hide-small">Универсальная платформа облачных приложений</p>
		<p class="description hide-full">Универсальная платформа<br>облачных приложений</p>

		<p>"QubeOS" это открытая платформа для распределённых, отказоустойчивых и безопасных приложений обработки и хранения данных, предоставляющая уровень абстракции для программирования распределённых систем, облегчая разработку масштабируемых приложений.</p>

		<p>Приложения могут быть установлены на "QubeOS", получив при этом ограниченный доступ к функционалу программного интерфейса. Они могут предоставлять кросс-платформенный графический интерфейс, и размещаться в официальном магазине приложений.</p>

		<p>Приложения на "QubeOS" динамически-масштабируемы. Вы можете использовать их как на отдельных компьютерах, так и на взаимосвязанных кластерах и в виртуализированных средах.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Динамическая Расширяемость" src="images/scale.png">
					<p>Динамическая<br>Расширяемость</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Резервное Копирование" src="images/database.png">
					<p>Резервное<br>Копирование</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Отказоустойчивая Архитектура" src="images/healing.png">
					<p>Отказоустойчивая<br>Архитектура</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Изоляция Приложений" src="images/isolation.png">
					<p>Изоляция<br>Приложений</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Продвинутые Механизмы Шифрования" src="images/encryption_icon.png">
					<p>Продвинутые<br>Механизмы<br>Шифрования</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Географическое Распределение" src="images/geospatial.png">
					<p>Географическое<br>Распределение</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Кросс-Платформенный Клиент" src="images/client.png">
					<p>Кросс-Платформенный<br>Клиент</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Интеграция Графического Интерфейса" src="images/ui.png">
					<p>Интеграция<br>Графического<br>Интерфейса</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Динамическая Расширяемость" src="images/scale.png">
					<p>Динамическая<br>Расширяемость</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Резервное Копирование" src="images/database.png">
					<p>Резервное<br>Копирование</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Отказоустойчивая Архитектура" src="images/healing.png">
					<p>Отказоустойчивая<br>Архитектура</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Изоляция Приложений" src="images/isolation.png">
					<p>Изоляция<br>Приложений</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Продвинутые Механизмы Шифрования" src="images/encryption_icon.png">
					<p>Продвинутые<br>Механизмы<br>Шифрования</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Географическое Распределение" src="images/geospatial.png">
					<p>Географическое<br>Распределение</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Кросс-Платформенный Клиент" src="images/client.png">
					<p>Кросс-Платформенный<br>Клиент</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Интеграция Графического Интерфейса" src="images/ui.png">
					<p>Интеграция<br>Графического<br>Интерфейса</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature layers">
		<div
			class="layer-indicator">
			<div
				class="layer-indicator-container">
				<div
					class="machines"
					ng-click="toLayer('machines', true)"
					ng-class="{selected: layer == 'machines'}">
					<div class="indic"></div>
				</div>
				<div
					class="hypervisor"
					ng-click="toLayer('hypervisor', true)"
					ng-class="{
						selected: layer == 'hypervisor',
						visible: layer == 'hypervisor'
						|| layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="middleware"
					ng-click="toLayer('middleware', true)"
					ng-class="{
						selected: layer == 'middleware',
						visible: layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="qubeos"
					ng-click="toLayer('qubeos', true)"
					ng-class="{
						selected: layer == 'qubeos',
						visible: layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="apps"
					ng-click="toLayer('apps', true)"
					ng-class="{
						selected: layer == 'apps',
						visible: layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
			</div>
		</div>
		<div
			ng-swipe-left="toPreviousLayer(true)"
			ng-swipe-right="toNextLayer(true)">
			<div class="layers-visualization">
				<img
					class="apps"
					ng-show="layer == 'apps'"
					alt="Apps Layer"
					src="images/layers_apps.png">
				<img
					class="qubeos"
					ng-show="
						layer == 'qubeos'
						|| layer == 'apps'"
					alt="QubeOS Layer"
					src="images/layers_qubeos.png">
				<img
					class="middleware"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'"
					alt="Middleware Layer"
					src="images/layers_middleware.png">
				<img
					class="hypervisor"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'
						|| layer == 'hypervisor'"
					alt="Hypervisor Layer"
					src="images/layers_hypervisor.png">
				<img
					class="machines"
					alt="Machines Layer"
					src="images/layers_machines.png">
			</div>
		</div>
		<div class="layer-name">
			<h1
				ng-show="layer == 'apps'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator apps"></div>
				Приложения
			</h1>
			<h1
				ng-show="layer == 'qubeos'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator qubeos"></div>
				QubeOS
			</h1>
			<h1
				ng-show="layer == 'middleware'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator middleware"></div>
				Системные Модули
			</h1>
			<h1
				ng-show="layer == 'hypervisor'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator hypervisor"></div>
				Гипервизор
			</h1>
			<h1
				ng-show="layer == 'machines'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator machines"></div>
				Компьютеры
			</h1>
		</div>
		<div class="layer-desc hide-small">
			<p ng-show="layer == 'apps'">
				Приложения для конечных пользователей, устанавливаются и выполняются<br>в изолированной среде QubeOS, получая доступ к данным, сети и вычислительным ресурсам используя QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS является унифицированной, высокоуровневой платформой для разработчиков приложений основаных на технологиях облачных вычислений, предназначеных для конечных пользователей.
			</p>
			<p ng-show="layer == 'middleware'">
				Многочисленные системные модули доступные к использованию через программный интерфейс позволяют решать широкий спектр задач.
			</p>
			<p ng-show="layer == 'hypervisor'">
				QubeOS использует новейшие технологии<br>распределения вычислительных нагрузок между узлами сети.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS работает на базе х86 и ARM архитектур, на кластерах, виртуализированных средах и облачных инфраструктурах (IaaS).
			</p>
		</div>
		<div class="layer-desc hide-full">
			<p ng-show="layer == 'apps'">
				Приложения для конечных пользователей, устанавливаются и выполняются в изолированной среде QubeOS, получая доступ к данным, сети и вычислительным ресурсам используя QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS является унифицированной, высокоуровневой платформой для разработчиков приложений основаных на технологиях облачных вычислений, предназначеных для конечных пользователей.
			</p>
			<p ng-show="layer == 'middleware'">
				Многочисленные системные модули доступные к использованию через программный интерфейс позволяют решать широкий спектр задач.
			</p>
			<p ng-show="layer == 'hypervisor'">
				QubeOS использует новейшие технологии распределения вычислительных нагрузок между узлами сети.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS работает на базе х86 и ARM архитектур, на кластерах, виртуализированных средах и облачных инфраструктурах (IaaS).
			</p>
		</div>
	</div>

	<div class="feature">
		<h1>Запускай <i class="highlight">Везде</i></h1>
		
		<p class="description">QubeOS работает на любой инфраструктуре</p>

		<p>"QubeOS" работает в любой среде: на маленьком "Qube" дома, на "Qube Cluster" в офисе, на собственном серверном кластере или в облаке IaaS провайдера. Она автоматически адаптируется к присвоенной ей инфраструктуре.</p>
	</div>

	<div class="feature">
		<h1>Обрети <i class="highlight">Контроль</i></h1>
		
		<p class="description">Контролируй своё собственное облако</p>
		
		<p>Приложения на базе "QubeOS" изолированы друг от друга и получают определённый набор прав доступа к данным и функционалу API-интерфейса. Использование системных ресурсов, доступ к данным и соединениям в сети прозрачны, и доступны для Вашего контроля.</p>
	</div>

	<div class="feature">
		<h1 class="">Расширяй <i class="highlight">Возможности</i></h1>

		<p>Накопитель данных это базовый элемент различных цифровых систем. "QubeOS" предлагает широкий спектр возможностей применения и может работать как самостоятельная система хранения и обработки данных, так и в качестве модуля внутри другой системы, расширяя, тем самым, её возможности.</p>

		<p>Системы видеонаблюдения является хорошим примером применения "QubeOS" в качестве системы обработки, распределения и хранения потокового видео, в силу того, что они генерируют большое количество данных.</p>

		<p>Социальные сети, системы сообщений и совместной работы являются очередным примером применения "QubeOS" для обеспечения приватного и безопасного обмена информацией.</p>

		<p>QubeOS SDK позволит Вам разрабатывать собственные приложения на "QubeOS" для решения Ваших частных задач.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Интернет Вещей" src="images/iot.png">
					<p>Интернет<br>Вещей</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Системы Наблюдения" src="images/surveillance.png">
					<p>Системы<br>Наблюдения</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Потоковое Мультимедиа" src="images/streaming.png">
					<p>Потоковое<br>Мультимедиа</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Умный Дом" src="images/smarthome.png">
					<p>Умный<br>Дом</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Аналитика Данных" src="images/analytics.png">
					<p>Аналитика<br>Данных</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Совмесная Работа" src="images/collaboration.png">
					<p>Совмесная<br>Работа</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Социальные Сети" src="images/social.png">
					<p>Социальные<br>Сети</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Картографические Приложения" src="images/geospatial.png">
					<p>Картографические<br>Приложения</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Интернет Вещей" src="images/iot.png">
					<p>Интернет<br>Вещей</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Системы Наблюдения" src="images/surveillance.png">
					<p>Системы<br>Наблюдения</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Потоковое Мультимедиа" src="images/streaming.png">
					<p>Потоковое<br>Мультимедиа</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Умный Дом" src="images/smarthome.png">
					<p>Умный<br>Дом</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Аналитика Данных" src="images/analytics.png">
					<p>Аналитика<br>Данных</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Совмесная Работа" src="images/collaboration.png">
					<p>Совмесная<br>Работа</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Социальные Сети" src="images/social.png">
					<p>Социальные<br>Сети</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Картографические Приложения" src="images/geospatial.png">
					<p>Картографические<br>Приложения</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<h1>Мы выбираем <i class="highlight">Open Source</i></h1>

		<p>Выбирая философию открытого исходного кода, мы намерены предоставить платформу облачных приложений - "QubeOS", широкому кругу пользователей, обеспечив при этом прозрачность развития проекта.</p>

		<p>Исходный код "QubeOS", включая исходный код её кросс-платформенного клиентского приложения, будут предоставлены в свободном доступе.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Мы близки к достижению <i class="highlight">цели</i></h1>
		<h1 class="hide-full">Мы близки<br>к достижению <i class="highlight">цели</i></h1>

		<p>Вот уже более года мы работаем над реализацией "QubeOS", и готовы к массовому производству "Qube" - компактного сетевого устройства хранения данных, и запуску коммерческой версии "QubeOS" - открытой, универсальной платформы для приватных, облачных приложений.</p>

		<p>Мы с уверенностью смотрим в будущее постоянно растущего рынка облачных и персональных технологий обработки и хранения данных.<br>Всё что нам нужно для успешного выхода на рынок высоких технологий - это небольшая искра.</p>
	</div>

	<div class="feature">
		<h1>Мы ищем надёжных инвестиционных партнёров в сфере IT-технологий и готовы разделить с Вами наше видение!</h1>
	</div>

	<div class="feature contact-form">
		<h1 style="font-weight: bold; color: black;">Свяжитесь с нами</h1>

		<p class="description">У вас есть интересное предложение, или вы просто хотите с нами связаться? Мы готовы к сотрудничеству!</p>

		<div class="form">
			<input type="text" ng-model="formName" placeholder="Ваше имя и название организации">
			<div ng-show="notificationNameWrong" class="notification error">Укажите Ваше имя и название Вашей организации</div>

			<input type="text" ng-model="formEmail" placeholder="Адрес Вашей электронной почты">
			<div ng-show="notificationEmailWrong" class="notification error">Укажите адрес Вашей электронной почты</div>

			<textarea ng-model="formMessage" placeholder="Ваше сообщение" rows="6"></textarea>
			<div ng-show="notificationMessageWrong" class="notification error">Введите Ваше сообщение</div>
			
			<button ng-click="sendMessage()">Отправить</button>
			
			<div ng-show="notificationSending" class="notification neutral">Ваше сообщение отправляется...</div>

			<div ng-show="notificationFailure" class="notification error">Что-то пошло не так!<br>Пожалуйста обратитесь к нам по <a href="mailto:contact@qbeon.com">contact@qbeon.com</a></div>

			<div ng-show="notificationSuccess" class="notification success">Спасибо за проявленный интерес!<br>Mы скоро свяжемся с Вами.</div>
		</div>
	</div>
</div>