<div class="container" ng-controller="ArticleController">
	<div class="header">
		<div class="company">
			<img alt="Qbeon Logo" class="logo" src="images/qbeon.png">
			<span class="company-name">Qbeon</span>
		</div>
	</div>

	<div class="feature">
		<h1 class="hide-small">Wir glauben an Cloud-Technologie,<br>die für alle zugänglich ist</h1>
		<h1 class="hide-full">Wir glauben an Cloud-Technologie, die für alle zugänglich ist</h1>

		<p>Digitale Daten sind zum Grundbestandteil unseres Lebens und unserer modernen Gesellschaft geworden. Menschen, Organisationen und Maschinen produzieren eine Menge von Daten, die an einem sicheren und zuverlässigen Ort gespeichert werden müssen. Unsere Daten müssen jederzeit für uns verfügbar sein, wo auch immer wir uns befinden und unabhängig davon welches Gerät wir benutzen um uns ins Netz zu verbinden.

		<p>Computertechnik hat sich stets weiterentwickelt und die Menschheit ist in eine neue Ära des Cloud Computing vorgedrungen. Vernetzte Server bilden ein gigantisches, weltweit verteiltes Netzwerk der digitalen Cloud.</p>

		<p>Cloud Computing adressiert das <i>Big Data</i> Problem. Wenn die Menge an den zu verarbeitenden oder zu speichernden Daten die Kapazitäten einer einzelnen Maschine überschreitet, dann wird eine Technologie vorausgesetzt, welche die Datensätze und die Rechenlast über ein dynamisches Cluster von vernetzten Maschinen verteilt.</p>
	</div>

	<div class="feature">
		<h1>Die Cloud</h1>

		<p><i>Die Cloud</i> repräsentiert Anwendungen im Internet, die nur einfache Benutzeroberflächen nach außen bieten und komplexe Server-Infrastrukturen unter sich bergen.</p>

		<p>Anwendungen wie Dropbox, Google Drive, Microsoft OneDrive und viele weitere, vertreten den SaaS (Software as a Service) Teilbereich der <i>Cloud</i>, sie abstrahieren die Komplexität von verteilten und universell zugänglichen Dateispeichern.</p>
	</div>

	<div class="feature">
		<h1>Es gibt ein großes Problem</h1>

		<p>Wir verlieren die Kontrolle über unsere Daten, die wir auf die Cloud hochladen. Sie werden für fremde, uns unbekannte Menschen zugänglich gemacht, und können ohne unsere Erlaubnis eingesehen, analysiert, verändert, gelöscht und nach dessen eigenem Ermessen verwendet werden.</p>

		<p>Die Cloud gehört uns nicht und deshalb können wir, als Benutzer, sie nicht kontrollieren. Bei der Anmeldung in einer Cloud-Anwendung unterschreiben wir die uns gestellten allgemeinen Geschäftsbedingungen proprietärer Dienstleistungen. Sie können Gefahren für unsere Sicherheit bergen und sich auch jederzeit ändern.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Die Cloud ist bloß ein fremder Computer</h1>
		<h1 class="hide-full">Die Cloud ist bloß<br>ein fremder Computer</h1>

		<p>Um unsere Privatsphäre und unsere persönlichen Daten zu schützen, setzen wir auf eigene Dateispeicher für die Nutzung Zuhause und die Nuztung innerhalb unserer Organisationen. Während große Unternehmen, staatliche Institutionen und Organisationen jedoch eigene IT-Infrastrukturen betreiben, welche von professionellen IT-Spezialisten gewartet werden, können sich kleine Unternehmen und Heimbenutzer, diese, auf Grund hoher Wartungskosten, einfach nicht leisten.
	</div>

	<div class="feature">
		<h1 class="hide-small">Bestehende Netzwerkspeichergeräte<br>lösen dieses Problem nicht</h1>
		<h1 class="hide-full">Bestehende Netzwerkspeichergeräte lösen dieses Problem nicht</h1>

		<p>Netzwerkgebundene Speichergeräte haben seit dem Beginn der Entwicklung der Cloud stets an Popularität zugenommen, aber immer noch sind diese <b>schwer einzurichten</b> und zu benutzen, sie setzen professionelle, technische Kenntnisse voraus, immer noch sind diese <b>nicht skalierbar</b> und immer noch <b>nicht sicher</b> genug.</p>

		<p>Die grafischen Benutzeroberflächen solcher Geräte sind über verschiedene Plattformen hinweg <b>nicht konsistent</b>, sehen unter verschiedenen Betriebssystemen anders aus und können dieselben Funktionen nicht überall anbieten. Den Dateisystemen solcher Geräte fehlen die notwendigen Funktionen für produktive Zusammenarbeit und umfassende Kontrolle.</p>

		<p>Es ist demnach nicht überraschend, dass wir immer noch zwischen optimaler Benutzererfahrung und unserer eigenen Sicherheit wählen müssen.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Wir wollen dieses Problem lösen</h1>
		<h1 class="hide-full">Wir wollen<br>dieses Problem lösen</h1>

		<p>Cloud Computing Technologie ist ein leistungsfähiges Werkzeug, jedoch ist es noch nicht für jedermann zugänglich. Die Entwicklung eigener Cloud-Anwendung zur Datenverarbeitung und -Speicherung ist ein aufwendiger und kostspieliger Prozess.</p>

		<p>Es herrscht großer Bedarf nach einer flexiblen und dynamisch skalierbaren Cloud Computing-Plattform. Deshalb arbeiten wir seit mehr als einem Jahr an einer Technologie, welche den Aufwand der Entwicklung von privaten Cloud-Anwendungen senkt.</p>

		<p>Neben dem <i>Big Data</i> Problem wächst die Nachfrage nach simplen und sicheren, persönlichen Datenspeichersystemen. Aus diesem Grund haben wir ein netzwerkgebundenes Massendatenspeicher-Gerät, auf Basis unserer Technologie entwickelt.</p>
	</div>


	<div class="feature" name="qube_de_DE">
		<h1>Wir präsentieren den <i class="highlight">Qube</i></h1>

		<p class="description hide-small">Ein kompaktes, netzwerkgebundenes Datenspeichergerät<br>für das Zuhause und Büro</p>
		<p class="description hide-full">Ein kompaktes, netzwerk-gebundenes Datenspeichergerät für das Zuhause und Büro</p>

		<div class="image">
			<img alt="The Qube" src="images/qube.jpg">
		</div>
		<p>Der Qube ist einfach in der Benutzung und ist schnell eingerichtet. Verbinden Sie ihn mit Ihrem Router, installieren Sie die Qube App auf Ihrem Smartphone, Tablet oder Computer und Ihr Qube ist einsatzbereit! Für seine Benutzung sind keine technischen Kenntnisse erforderlich.</p>

		<p>Das Teilen von Dateien und Ordnern mit Ihren Freunden, Ihrer Familie und Ihren Kollegen ist privat, einfach und intuitiv. Ein hohes Maß an Sicherheit wird durch eine fortschrittliche Verschlüsselung der Datenträger und der Netzwerkkommunikation gewährleistet.</p>

		<p>Eine moderne grafische Benutzeroberfläche bietet ein konsistentes Benutzererlebniss und dieselben Funktionen unter allen gängigen Plattformen wie Windows, Mac, Android, IOS und Linux.</p>

		<p>Für den nahtlosen, entfernten Zugriff über das Internet, haben wir eine Fernzugriffstechnologie entwickelt, die eine sichere Verbindung zum Qube, von überall aus, ohne jegliche Netzwerkkonfigurationen ermöglicht und "aus der Verpackung heraus" funktioniert. Unsere Technologie bietet nicht nur eine intuitive Fernzugriffsmöglichkeit, sie schützt den Qube auch vor verschiedenen Gefahren aus dem Internet.</p>
	</div>

	<div class="feature app-preview">
		<h1><i class="highlight">Anwendungen</i></h1>

		<p class="description hide-small">Der Qube kommt mit mehreren vorinstallierten Anwendungen</p>
		<p class="description hide-full">Der Qube kommt mit vier<br>vorinstallierten Anwendungen</p>
		<div class="slider">
			<slick settings="appSlider">
				<div class="slide">
					<img src="images/files-table.jpg">
				</div>
				<div class="slide">
					<img src="images/pictures-timeline.jpg">
				</div>
				<div class="slide">
					<img src="images/tmp_appstore.png">
				</div>
			</slick>
		</div>
		<ul class="unselectable">
			<li
				ng-class="{selected: curAppInSlider == 0}"
				ng-click="goToAppSlide(0)">
				Files
			</li>
			<li
				ng-class="{selected: curAppInSlider == 1}"
				ng-click="goToAppSlide(1)">
				Pictures
			</li>
			<li
				ng-class="{selected: curAppInSlider == 2}"
				ng-click="goToAppSlide(2)">
				App Store
			</li>
		</ul>
		<div class="app-desc">
			<p ng-show="curAppInSlider == 0">
				Files ermöglich es Ihnen, Ihre Dateisammlungen einzusehen und zu verwalten. Mit der Hilfe von Files lassen sich Dateien schnell auffinden und teilen.</p>
			<p ng-show="curAppInSlider == 1">
				Pictures ermöglich die einfache Organisation und Wiedergabe Ihrer gesamten Foto- und Videosammlungen.</p>
			<p ng-show="curAppInSlider == 2">
				App Store ermöglicht das Erwerben und Intallieren neuer Anwendungen aus dem offiziellen App Store, um die Funktionalitäten Ihres Qube zu erweitern.</p>
		</div>
	</div>

	<div class="feature">
		<h1>Elegante <i class="highlight">Simplizität</i></h1>

		<p class="description">In wenigen Minuten eingerichtet<br>keinerlei Kenntnisse vorausgesetzt</p>

		<div class="image">
			<img alt="Setup UI" src="images/setup.png">
		</div>
	</div>

	<div class="feature">
		<h1>Alles <i class="highlight">Synchronisiert</i></h1>

		<p class="description">All Ihre Daten an einem sicheren Ort</p>

		<div class="image">
			<img alt="Files UI" src="images/files.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Echtzeit <i class="highlight">Benachrichtigungen</i></h1>

		<p class="description hide-small">Echtzeit-Benachrichtigungen erleichtern<br>die Zusammenarbeit an Dateien und Ordnern</p>
		<p class="description hide-full">Echtzeit-Benachrichtigungen<br>erleichtern die Zusammenarbeit<br>an Dateien und Ordnern</p>

		<div class="image">
			<img alt="Notifications UI" src="images/notifications.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Grenzenlose <i class="highlight">Erweiterbarkeit</i></h1>

		<p class="description hide-small">Anwendungen erweitern den Funktionsumfang<br>und können im offiziellen App Store erworben werden</p>
		<p class="description hide-full">Anwendungen erweitern den Funktionsumfang und können im offiziellen App Store erworben werden</p>


		<div class="image">
			<img alt="App logos" src="images/apps.png">
		</div>
	</div>

	<div class="feature">
		<h1>Volle <i class="highlight">Kontrolle</i></h1>

		<p class="description hide-small">Installierte Anwendungen sind isoliert und verfügen<br>über einen überschaubaren Satz von Berechtigungen</p>
		<p class="description hide-full">Installierte Anwendungen sind isoliert und verfügen über einen überschaubaren Satz von Berechtigungen</p>

		<div class="image">
			<img alt="Permissions dialog UI" src="images/permissions.png">
		</div>
	</div>

	<div class="feature">
		<h1>Nahtloser <i class="highlight">Fernzugriff</i></h1>

		<p class="description hide-small">Die App stellt automatisch eine sichere, entfernte Verbindung her, sobald sie das lokale Netzwerk verlässt</p>
		<p class="description hide-full">Die App stellt automatisch eine sichere, entfernte Verbindung her,<br>sobald sie das lokale Netzwerk verlässt</p>
		
		<div class="image">
			<img alt="Remote access illustration" src="images/remote_access.png">
		</div>
	</div>

	<div class="feature">
		<h1>Hohe <i class="highlight">Sicherheit</i></h1>

		<p class="description hide-small">Verschlüsselung von Datenträger und Netzwerkkommunikation<br>Standardmäßig vorkonfiguriert</p>
		<p class="description hide-full">Verschlüsselung von Datenträger<br>und Netzwerkkommunikation<br>Standardmäßig vorkonfiguriert</p>

		<div class="image">
			<img alt="Disk and network communication encryption illustration" src="images/encryption.png">
		</div>
	</div>

	<div class="feature" name="qube-os_de_DE">
		<h1>Powered by <i class="highlight">QubeOS</i></h1>

		<p class="description hide-small">Die universelle Plattform für Cloud-Anwendungen</p>
		<p class="description hide-full">Die universelle Plattform<br>für Cloud-Anwendungen</p>

		<p>QubeOS ist eine offene Plattform für verteilte, ausfallsichere und dynamische Anwendung für die Speicherung und Verarbeitung digitaler Daten. Sie bietet eine Abstraktionsebene für die Programmierung verteilter Systeme und erleichtert die Entwicklung von skalierbaren Softwareanwendungen.</p>

		<p>Anwendungen auf Basis von QubeOS sind isoliert, und verfügen über präzise Berechtigungen in der Systemschnittstelle. Sie können interaktive, plattformübergreifende grafischen Benutzeroberflächen anbieten und im offiziellen App Store veröffentlicht werden.</p>

		<p>Anwendungen sind dynamisch skalierbar, sie können auf eigenständigen Servern und Clustern von Servern installiert und ausgeführt werden.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Dynamische Skalierung" src="images/scale.png">
					<p>Dynamische<br>Skalierung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Dateisystem Replikation" src="images/database.png">
					<p>Dateisystem<br>Replikation</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Selbstheilende Architektur" src="images/healing.png">
					<p>Selbstheilende<br>Architektur</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation von Anwendungen" src="images/isolation.png">
					<p>Isolation von<br>Anwendungen</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Fortschrittliche Verschlüsselung" src="images/encryption_icon.png">
					<p>Fortschrittliche<br>Verschlüsselung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geografische Verteilung" src="images/geospatial.png">
					<p>Geografische<br>Verteilung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Plattform-übergreifender GUI Client" src="images/client.png">
					<p>Plattform-<br>übergreifender<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Interface Integration" src="images/ui.png">
					<p>UI Interface<br>Integration</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Dynamische Skalierung" src="images/scale.png">
					<p>Dynamische<br>Skalierung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Dateisystem Replikation" src="images/database.png">
					<p>Dateisystem<br>Replikation</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Selbstheilende Architektur" src="images/healing.png">
					<p>Selbstheilende<br>Architektur</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation von Anwendungen" src="images/isolation.png">
					<p>Isolation von<br>Anwendungen</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Fortschrittliche Verschlüsselung" src="images/encryption_icon.png">
					<p>Fortschrittliche<br>Verschlüsselung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geografische Verteilung" src="images/geospatial.png">
					<p>Geografische<br>Verteilung</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Plattform-übergreifender GUI Client" src="images/client.png">
					<p>Plattform-<br>übergreifender<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Interface Integration" src="images/ui.png">
					<p>UI Interface<br>Integration</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature layers">
		<div
			class="layer-indicator">
			<div
				class="layer-indicator-container">
				<div
					class="machines"
					ng-click="toLayer('machines', true)"
					ng-class="{selected: layer == 'machines'}">
					<div class="indic"></div>
				</div>
				<div
					class="hypervisor"
					ng-click="toLayer('hypervisor', true)"
					ng-class="{
						selected: layer == 'hypervisor',
						visible: layer == 'hypervisor'
						|| layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="middleware"
					ng-click="toLayer('middleware', true)"
					ng-class="{
						selected: layer == 'middleware',
						visible: layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="qubeos"
					ng-click="toLayer('qubeos', true)"
					ng-class="{
						selected: layer == 'qubeos',
						visible: layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="apps"
					ng-click="toLayer('apps', true)"
					ng-class="{
						selected: layer == 'apps',
						visible: layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
			</div>
		</div>
		<div
			ng-swipe-left="toPreviousLayer(true)"
			ng-swipe-right="toNextLayer(true)">
			<div class="layers-visualization">
				<img
					class="apps"
					ng-show="layer == 'apps'"
					alt="Apps Layer"
					src="images/layers_apps.png">
				<img
					class="qubeos"
					ng-show="
						layer == 'qubeos'
						|| layer == 'apps'"
					alt="QubeOS Layer"
					src="images/layers_qubeos.png">
				<img
					class="middleware"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'"
					alt="Middleware Layer"
					src="images/layers_middleware.png">
				<img
					class="hypervisor"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'
						|| layer == 'hypervisor'"
					alt="Hypervisor Layer"
					src="images/layers_hypervisor.png">
				<img
					class="machines"
					alt="Machines Layer"
					src="images/layers_machines.png">
			</div>
		</div>
		<div class="layer-name">
			<h1
				ng-show="layer == 'apps'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator apps"></div>
				Anwendungen
			</h1>
			<h1
				ng-show="layer == 'qubeos'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator qubeos"></div>
				QubeOS
			</h1>
			<h1
				ng-show="layer == 'middleware'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator middleware"></div>
				Middleware
			</h1>
			<h1
				ng-show="layer == 'hypervisor'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator hypervisor"></div>
				Hypervisor
			</h1>
			<h1
				ng-show="layer == 'machines'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator machines"></div>
				Maschinen
			</h1>
		</div>
		<div class="layer-desc hide-small">
			<p ng-show="layer == 'apps'">
				Endnutzer-Anwendungen werden in einer isolierten Umgebung installiert und ausgeführt. Der Zugang zu Daten, dem Netzwerk und den Rechenressourcen erfolgt über die QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS ist eine einheitliche Plattform für Entwickler von Endnutzer-Anwendungen auf Basis von Cloud-Computing Technologie.
			</p>
			<p ng-show="layer == 'middleware'">
				Middleware-Software, welche dem Interface der QubeOS API entspricht,<br>kann in ein Middleware-Modul-Paket für QubeOS verwandelt werden.
			</p>
			<p ng-show="layer == 'hypervisor'">
				QubeOS setzt auf moderne Hypervisor-Technologie<br>für die Verteilung der Rechenlast auf verfügbare Netzwerk-Knotenpunkte.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS ist auf Maschinen der х86 und ARM Architekturen, Clustern von Maschinen, virtualisierten Umgebungen und IaaS Cloud-Infrastrukturen lauffähig.
			</p>
		</div>
		<div class="layer-desc hide-full">
			<p ng-show="layer == 'apps'">
				Endnutzer-Anwendungen werden in einer isolierten Umgebung installiert und ausgeführt. Der Zugang zu Daten, dem Netzwerk und den Rechenressourcen erfolgt über die QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS ist eine einheitliche Plattform für Entwickler von Endnutzer-Anwendungen auf Basis von Cloud-Computing Technologie.
			</p>
			<p ng-show="layer == 'middleware'">
				Middleware-Software, welche dem Interface der QubeOS API entspricht, kann in ein Middleware-Modul-Paket für QubeOS verwandelt werden.
			</p>
			<p ng-show="layer == 'hypervisor'">
				QubeOS setzt auf moderne Hypervisor-Technologie für die Verteilung der Rechenlast auf verfügbare Netzwerk-Knotenpunkte.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS ist auf Maschinen der х86 und ARM Architekturen, Clustern von Maschinen, virtualisierten Umgebungen und IaaS Cloud-Infrastrukturen lauffähig.
			</p>
		</div>
	</div>

	<div class="feature">
		<h1>Überall <i class="highlight">Aufsetzbar</i></h1>
		
		<p class="description hide-small">QubeOS läuft auf jeder Infrastruktur.</p>
		<p class="description hide-full">QubeOS läuft<br>auf jeder Infrastruktur.</p>

		<p>QubeOS kann auf zahlreichen Infrastruktur gehostet werden: auf dem kleine Qube Zuhause, dem <i>Qube Cluster</i> im Büro, einer eigenen Konfiguration von Servern oder auch einem externen Hosting eines IaaS Providers in der Cloud.</p>
	</div>

	<div class="feature">
		<h1>Vollständig <i class="highlight">Kontrollierbar</i></h1>
		
		<p class="description hide-small">Bewahren Sie die volle Kontrolle über Ihre ganz eigene Cloud</p>
		<p class="description hide-full">Bewahren Sie die volle Kontrolle<br>über Ihre ganz eigene Cloud</p>
		
		<p>Anwendungen sind isoliert und bekommen eine definierte und verwaltbare Liste an Berechtigungen im System, die Sie ihnen zur Verfügung stellen. Systemauslastung, Datenzugriff und Kommunikation mit bestimmten Domänen im Internet ist leicht überschaubar und kontrollierbar.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Grenzenlose <i class="highlight">Einsatzmöglichkeiten</i></h1>
		<h1 class="hide-full">Grenzenlose<br><i class="highlight">Einsatzmöglichkeiten</i></h1>

		<p>Massendatenspeicher sind ein fundamentaler Grundbaustein verschiedener digitaler Systeme. QubeOS bietet die nötige Flexibilität und Leistungsfähigkeit für zahlreiche Anwendungsgebiete.</p>

		<p>Videoüberwachungssysteme sind ein gutes Beispiel der Anwendung von QubeOS für die Verarbeitung und Speicherung großer Mengen von hochauflösendem Videomaterial. Auch stellt QubeOS eine skalierbare und zuverlässige Plattform für das Internet der Dinge und Smart-Home-Anwendungen bereit.</p>

		<p>Soziale Netzwerke, Kommunikations- und Kollaborationssoftware ist ein weiteres Einsatzgebiet für privaten und sicheren Datenaustausch.</p>

		<p>Das QubeOS SDK ermöglicht es Ihnen, eigene kommerzielle oder auch private Anwendungen für QubeOS zu entwickeln.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Das Internet der Dinge" src="images/iot.png">
					<p>Das Internet<br>der Dinge</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Überwachungssysteme" src="images/surveillance.png">
					<p>Überwachungs-<br>Systeme</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Multimedia Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Datenanalyse" src="images/analytics.png">
					<p>Daten<br>Analyse</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Kollaborationssoftware" src="images/collaboration.png">
					<p>Kollaborations-<br>software</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Soziale Netzwerke" src="images/social.png">
					<p>Soziale<br>Netzwerke</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geografische Anwendungen" src="images/geospatial.png">
					<p>Geografische<br>Anwendungen</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Das Internet der Dinge" src="images/iot.png">
					<p>Das Internet<br>der Dinge</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Überwachungssysteme" src="images/surveillance.png">
					<p>Überwachungs-<br>Systeme</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Multimedia Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Datenanalyse" src="images/analytics.png">
					<p>Daten<br>Analyse</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Kollaborationssoftware" src="images/collaboration.png">
					<p>Kollaborations-<br>software</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Soziale Netzwerke" src="images/social.png">
					<p>Soziale<br>Netzwerke</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geografische Anwendungen" src="images/geospatial.png">
					<p>Geografische<br>Anwendungen</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<h1>Wir lieben <i class="highlight">Open Source</i></h1>
		<p>Mit der Wahl der Open Source Philosophie, streben wir das Ziel an, QubeOS für jedermann zugänglich zu machen und die Transparenz der Entwicklung des Projekts zu gewährleisten.</p>

		<p>QubeOS und dessen plattformübergreifende client App wird quelloffen und absolut kostenfrei für jeden zur verfügung stehen.</p>
	</div>

	<div class="feature">
		<h1>Wir sind fast am <i class="highlight">Ziel</i></h1>

		<p>Nach mehr als einem Jahr Forschung und Entwicklung sind wir bereit für die Massenproduktion des Qube - eines netzwerkgebundenen, persönlichen Datenspeichergeräts, und der kommerziellen Veröffentlichung von QubeOS - der offenen Plattform für sichere und skalierbare Cloud-Anwendungen.</p>

		<p>Wir blicken in eine große Zukunft eines ständig wachsenden Markts für Cloud Computing und Massendatenspeicher-Systeme. Alles, was übrig bleibt, um erfolgreich auf den high-tech Markt einzutreten ist ein kleiner Funken.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Wir sind auf der Suche<br>nach zuverlässigen Investitionspartnern<br>im Bereich der IT-Technologien<br>und möchten unsere Vision mit Ihnen teilen.</h1>
		<h1 class="hide-full">Wir sind auf der Suche nach zuverlässigen Investitionspartnern im Bereich der IT-Technologien und möchten unsere Vision mit Ihnen teilen.</h1>
	</div>

	<div class="feature contact-form">
		<h1 style="font-weight: bold; color: black;">Lasst uns Kontakt aufnehmen</h1>

		<p class="description hide-small">Sie haben ein interessantes Angebot<br>oder wollen einfach mit uns Kontakt aufnehmen?<br>Lasst uns darüber reden, was wir gemeinsam erreichen können!</p>
		<p class="description hide-full">Sie haben ein interessantes Angebot oder wollen einfach mit uns Kontakt aufnehmen? Lasst uns darüber reden, was wir gemeinsam erreichen können!</p>

		<div class="form">
			<input type="text" ng-model="formName" placeholder="Ihr Name und der Name Ihres Unternehmen">
			<div ng-show="notificationNameWrong" class="notification error">Bitte geben Sie Ihren Namen und dem Namen Ihres Unternehmen an</div>

			<input type="text" ng-model="formEmail" placeholder="Ihre Email-Adresse">
			<div ng-show="notificationEmailWrong" class="notification error">Bitte geben Sie Ihre Email-Adresse an</div>

			<textarea ng-model="formMessage" placeholder="Ihre Nachricht" rows="6"></textarea>
			<div ng-show="notificationMessageWrong" class="notification error">Bitte geben Sie Ihre Nachricht an uns an</div>
			
			<button ng-click="sendMessage()">Senden</button>
			
			<div ng-show="notificationSending" class="notification neutral">Ihre Nachricht wird gesendet...</div>

			<div ng-show="notificationFailure" class="notification error">Irgendetwas ist schief gelaufen!<br>Bitte kontaktieren Sie uns über <a href="mailto:contact@qbeon.com">contact@qbeon.com</a></div>

			<div ng-show="notificationSuccess" class="notification success">Wir haben Ihre Kontaktanfrage erhalten<br>und antworten Ihnen so bald wie möglich.</div>
		</div>
	</div>
</div>