<div class="container">
	<div class="header">
		<div class="company">
			<img alt="Qbeon Logo" class="logo" src="images/qbeon.png">
			<span class="company-name">Qbeon</span>
		</div>
	</div>

	<div class="feature">
		<h1 class="hide-small hide-tiny">Wir glauben an Cloud-Technologie,<br>die für alle zugänglich ist</h1>

		<p>Digitale Daten sind zum Grundbestandteil unseres Lebens und unserer modernen Gesellschaft geworden. Menschen, Unternehmen und Maschinen produzieren eine Menge von Daten, welche an einem sicheren und zuverlässigen Ort gespeichert werden müssen. Unsere Daten müssen jederzeit für uns verfügbar sein, wo auch immer wir uns befinden und unabhängig davon welches Gerät wir benutzen um uns ins Netz zu verbinden.

		<p>Computertechnik hat sich stets weiterentwickelt und die Menschheit ist in eine neue Ära des Cloud Computing vorgedrungen. Vernetzte Server bilden ein gigantisches, weltweit verteiltes Netzwerk der digitalen Cloud.</p>

		<p>Cloud Computing adressiert das <i>Big Data</i> Problem. Wenn die Menge an den zu verarbeitenden oder zu speichernden Daten die Kapazitäten einer einzelnen Maschine überschreitet, dann wird eine Technologie vorausgesetzt, welche die Datensätze und die Rechenlast über ein dynamisches Cluster von vernetzten Maschinen verteilt.</p>
	</div>

	<div class="feature">
		<h1>Die Cloud</h1>

		<p><i>Die Cloud</i> ist ein Schlagwort für Anwendungen im Internet, die komplexe Server-Infrastrukturen abstrahieren und stattdessen eine einfache Benutzeroberfläche nach außen bieten.</p>

		<p>Anwendungen wie Dropbox, Google Drive, Microsoft OneDrive und viele weitere, repräsentieren den SaaS (Software as a Service) Teilbereich der <i>Cloud</i>, sie abstrahieren die Komplexität von verteilten und universell zugänglichen Dateispeichern.</p>
	</div>

	<div class="feature">
		<h1>Es gibt ein großes Problem</h1>

		<p>Wir verlieren die Kontrolle über unsere Daten, die wir auf die Cloud hochladen. Sie werden für fremde, uns unbekannte Menschen zugänglich gemacht, und können ohne unsere Erlaubnis eingesehen, analysiert, verändert und gelöscht werden.</p>

		<p>Die Cloud gehört uns nicht und deshalb können wir sie nicht kontrollieren. Bei der Anmeldung in einer Cloud-Anwendung unterschreiben wir die uns gestellten allgemeinen Geschäftsbedingungen proprietärer, teils ausländischer Dienstleistungen. Sie bergen nicht nur unzählige, gut versteckte Haken, sondern können sich auch jederzeit ändern.</p>
	</div>

	<div class="feature">
		<h1>Die Cloud ist bloß ein fremder Computer</h1>

		<p>Um unsere Privatsphäre und unsere persönlichen Daten zu schützen, setzen wir auf eigenen, zentralisierte Dateispeicher für unsere Unternehmen und für unser Zuhause. Während große Unternehmen und Organisationen jedoch eigene IT-Infrastrukturen besitzen, welche von professionellen IT-Spezialisten gewartet werden, können sich kleinere Unternehmen und Heimbenutzer sichere und private Dateispeicher nicht leisten.
	</div>

	<div class="feature">
		<h1 class="hide-small">Persönliche Netzwerkspeichergeräte<br>sollten dieses Problem lösen</h1>

		<p>Netzwerkgebundene Speichergeräte haben seit dem Beginn der Entwicklung der Cloud stets an Popularität zugenommen, aber immer noch sind diese <b>schwer einzurichten</b> und zu benutzen, sie setzen Computer- und Sicherheitstechnische Kenntnisse voraus, immer noch sind diese <b>nicht skalierbar</b> und immer noch <b>nicht sicher</b> genug, deren Benutzeroberflächen sind unter verschiedenen Plattformen und Betriebssystemen <b>nicht konsistent</b> und deren Dateisystemen fehlen die notwendigen Funktionen für umfassende Zusammenarbeit und Kontrolle.</p>

		<p>Es ist demnach nicht überraschend, dass wir immer noch zwischen hoher Benutzererfahrung und unserer eigenen Sicherheit wählen müssen.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Wir wollen dieses Problem lösen</h1>

		<p>Cloud Computing Technologie ist ein leistungsfähiges Werkzeug, dennoch beschränkt sich dessen Zugänglichkeit auf eine Hand voll globaler Konzerne. Die Möglichkeiten des Cloud Computing sind nicht für jedermann zugänglich. Die Entwicklung eigener, verteilter Cloud-Anwendung zur Datenverarbeitung und -Speicherung ist ein aufwendiger und kostspieliger Prozess.</p>

		<p>Es herrscht großer Bedarf nach einer flexiblen Cloud Computing-Plattform, welche nicht unbedingt an das Internet und fremde Dienstleistungen gebunden, leistungsfähig und dennoch kontrollierbar, dynamisch skalierbar, sicher und privat ist. Deshalb arbeiten wir seit mehr als einem Jahr an einer Technologie, welche die Kosten und den Aufwand der Entwicklung von privaten Massendatenspeicher-Anwendungen senkt.</p>

		<p>Neben dem <i>Big Data</i> Problem wächst die Nachfrage nach simplen, dennoch skalierbaren und sicheren, persönlichen Datenspeichersystemen. Aus diesem Grund haben wir ein netzwerkgebundenes Massendatenspeicher-Gerät, auf Basis unserer Technologie entwickelt.</p>
	</div>


	<div class="feature">
		<h1>Der <i class="highlight">Qube</i></h1>

		<p class="description hide-small">Ein kompaktes, netzwerkgebundenes<br>Datenspeichergerät für Zuhause und Büro</p>

		<div class="image">
			<img alt="The Qube" src="images/qube.png">
		</div>
		<p>Es ist einfach den Qube einzurichten: auspacken, Kabel anschließen, App installieren, fertig! Keine technischen Kenntnisse erforderlich. Ein hohes Maß an Sicherheit wird durch eine fortschrittliche Verschlüsselung der Datenträger und der Netzwerkkommunikation gewährleistet.</p>

		<p>Eine einladende und konsistente grafische Benutzeroberfläche auf allen gängigen Plattformen wie Windows, Mac, Android, IOS und Linux bereichert die Benutzererfahrung. Das Teilen von Dateien und Ordnern mit anderen ist privat, einfach und intuitiv.</p>

		<p>Für den nahtlosen, entfernten Zugriff über das Internet, haben wir eine Fernzugriffstechnologie entwickelt, die eine sichere Verbindung zu dem sich im Büro oder Zuhause befindenden Qube, von überall, ohne jegliche Netzwerkkonfigurationen ermöglicht.</p>

		<p>Unsere Technologie bietet nicht nur eine intuitive Fernzugriffsmöglichkeit, sie schützt den Qube auch vor Gefahren aus dem Internet.</p>
	</div>

	<div class="feature">
		<h1>Elegante <i class="highlight">Simplizität</i></h1>

		<p class="description hide-small">In wenigen Minuten eingerichtet,<br>keinerlei Kenntnisse vorausgesetzt</p>

		<div class="image">
			<img alt="Setup UI" src="images/setup.png">
		</div>
	</div>

	<div class="feature">
		<h1>Alles <i class="highlight">Zentralisiert</i></h1>

		<p class="description">All ihre Daten an einem sicheren Ort</p>

		<div class="image">
			<img alt="Files UI" src="images/files.png">
		</div>
	</div>

	<div class="feature">
		<h1>Echtzeit <i class="highlight">Benachrichtigungen</i></h1>

		<p class="description">Echtzeit-Benachrichtigungen erleichtern<br>die Zusammenarbeit an Dateien und Ordnern</p>

		<div class="image">
			<img alt="Notifications UI" src="images/notifications.png">
		</div>
	</div>

	<div class="feature">
		<h1>Grenzenlose <i class="highlight">Erweiterbarkeit</i></h1>

		<p class="description">Anwendungen erweitern den Funktionsumfang<br>und können einfach installiert werden</p>

		<div class="image">
			<img alt="App logos" src="images/apps.png">
		</div>
	</div>

	<div class="feature">
		<h1>Volle <i class="highlight">Kontrolle</i></h1>

		<p class="description hide-small">Anwendungen sind isoliert und verfügen<br>über einen überschaubaren Satz von Berechtigungen</p>
		<p class="description hide-full">Anwendungen sind isoliert<br>und verfügen über einen überschaubaren<br>Satz von Berechtigungen</p>

		<div class="image">
			<img alt="Permissions dialog UI" src="images/permissions.png">
		</div>
	</div>

	<div class="feature">
		<h1>Nahtloser <i class="highlight">Fernzugriff</i></h1>

		<p class="description">Die App stellt automatisch eine sichere, entfernte Verbindung her, sobald sie das lokale Netzwerk verlässt</p>
		
		<div class="image">
			<img alt="Remote access illustration" src="images/remote_access.png">
		</div>
	</div>

	<div class="feature">
		<h1>Hohe <i class="highlight">Sicherheit</i></h1>

		<p class="description hide-small">Verschlüsselung von Datenträger und Netzwerkkommunikation<br>Standardmäßig vorkonfiguriert</p>
		<p class="description hide-full">Verschlüsselung von Datenträger<br>und Netzwerkkommunikation<br>Standardmäßig vorkonfiguriert</p>

		<div class="image">
			<img alt="Disk and network communication encryption illustration" src="images/encryption.png">
		</div>
	</div>

	<div class="feature">
		<h1>Powered by <i class="highlight">QubeOS</i></h1>

		<p class="description hide-small">Die Plattform für dynamische<br>und verteilte Datenspeichersysteme</p>
		<p class="description hide-full">Die Plattform für dynamische<br>und verteilte Datenspeichersysteme</p>

		<p>Qbeon QubeOS strebt den Titel der Hauptplattform für verteilte, sichere und hochdynamische Rechen- und Speicheranwendungen an.</p>

		<p>QubeOS ist eine offene Plattform auf Basis eines verteilten Datei- und Kommunikationssystems, das den Aufwand der Entwicklung dynamischer, verteilter und ausfallsicherer Anwendungen auf vernetzten Clustern von Computern, mit herkömmlichen Hardware, abstrahiert.</p>

		<p>Anwendungen auf Basis von QubeOS sind isoliert, verschlüsselt, skalierbar, ausfallsicher und interaktiv durch die Bereitstellung von anspruchsvollen, plattformübergreifenden grafischen Benutzeroberflächen. Sie können einfach paketiert und im offiziellen App Store veröffentlicht werden.</p>

		<p>Standardmäßig sind auf dem Qube 4 von Qbeon entwickelte Anwendungen vorinstalliert: <i>Files</i>, <i>Users</i>, <i>Pictures</i> und <i>App Store</i>. Tatsächlich sind diese Anwendungen dynamisch skalierbar, sie können auf kleinen, eigenständigen Servern, global verteilten Gruppen von Servern und sogar auf vernetzten Rechenzentren installiert und ausgeführt werden. Die Kapazität wächst proportional, die Benutzererfahrung bleibt hingegen stets auf demselben, hohen Niveau.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Scaling" src="images/scale.png">
					<p>Dynamisch<br>Skalierbar</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Replication" src="images/database.png">
					<p>Dateisystem<br>Replikation</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Self-Healing" src="images/healing.png">
					<p>Selbstheilende<br>Architektur</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation" src="images/isolation.png">
					<p>Isolation von<br>Anwendungen</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Encryption" src="images/encryption_icon.png">
					<p>Fortschrittliche<br>Verschlüsselung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Communication" src="images/communication.png">
					<p>Echtzeit<br>Kommunikation</p>
				</div>
				<div class="span1 grid-item">
					<img alt="GUI Client" src="images/client.png">
					<p>Plattform-<br>übergreifender<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Integration" src="images/ui.png">
					<p>UI Interface<br>Integration</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Scaling" src="images/scale.png">
					<p>Dynamisch<br>Skalierbar</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Replication" src="images/database.png">
					<p>Dateisystem<br>Replikation</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Self-Healing" src="images/healing.png">
					<p>Selbstheilende<br>Architektur</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation" src="images/isolation.png">
					<p>Isolation von<br>Anwendungen</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Encryption" src="images/encryption_icon.png">
					<p>Fortschrittliche<br>Verschlüsselung</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Communication" src="images/communication.png">
					<p>Echtzeit<br>Kommunikation</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="GUI Client" src="images/client.png">
					<p>Plattform-<br>übergreifender<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Integration" src="images/ui.png">
					<p>UI Interface<br>Integration</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<h1>Frei und <i class="highlight">Skalierbar</i></h1>
		
		<p class="description hide-small">QubeOS ist eine universelle Cloud Storage Plattform.</p>
		<p class="description hide-full">QubeOS ist eine universelle<br>Cloud Storage Plattform.</p>

		<p>QubeOS ist quelloffen und containerisiert, es kann überall gehostet werden. Anwendungen auf Basis QubeOS sind frei skalierbar, es spielt keine Rolle, wo Sie diese aufgesetzten, auf dem kleine Qube Zuhause, dem <i>Qube Cluster</i> im Büro, der eigenen Konfiguration von Servern mit Cluster-Managern wie Mesosphere oder Google Kubernetes oder auch einem externen Hosting über einen IaaS Provider in der Cloud.</p>
	</div>

	<div class="feature">
		<h1>Vollständig <i class="highlight">Kontrollierbar</i></h1>
		
		<p class="description hide-small">Bewahren Sie die volle Kontrolle über ihre ganz eigene Cloud</p>
		<p class="description hide-full">Bewahren Sie die volle Kontrolle<br>über ihre ganz eigene Cloud</p>
		
		<p>Anwendungen werden von QubeOS isoliert und bekommen eine definierte und verwaltbare Liste an Berechtigungen, die Sie Ihnen zur Verfügung stellen. Systemauslastung, Datenzugriff und Kommunikation mit bestimmten Domänen im Internet und mit anderen installierten Anwendungen ist leicht überschaubar und kontrollierbar.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Grenzenlose <i class="highlight">Einsatzmöglichkeiten</i></h1>
		<h1 class="hide-full">Grenzenlose<br><i class="highlight">Einsatzmöglichkeiten</i></h1>

		<p>Massendatenspeicher sind ein fundamentaler Grundbaustein von unzähligen digitalen Systemen. QubeOS bietet die nötige Flexibilität und Leistungsfähigkeit für zahlreiche Anwendungsgebiete.</p>

		<p>Überwachungssysteme sind ein gutes Beispiel von Anwendungen, welche das Potenzial von QubeOS in vollem Maße ausreizen können. Solche Systeme generieren eine Menge von Daten und liefern Echtzeit-Streams von hochauflösendem Videomaterial, sie erreichen die Rechen- und Speicherkapazitäten einzelner Maschinen sehr schnell und benötigen eine dynamisch skalierbare und ausfallsichere Cloud-Plattform.</p>

		<p>Die stets wachsende Zahl von vernetzten Systemen führt zu einer exponentiell wachsenden Menge an generierten Daten. QubeOS ist eine skalierbare und zuverlässige Plattform für das Internet der Dinge und Smart-Home-Anwendungen.</p>

		<p>Soziale Netzwerke, Kommunikations- und Kollaborationssoftware ist ein weiteres Einsatzgebiet privater, sicherer und skalierbarer Infrastrukturen, das QubeOS ansteuert.</p>

		<p>Diese und viele weitere Arten von Anwendungen können von der Flexibilität, Leistungsfähigkeit und Zuverlässigkeit von QubeOS profitieren. Das offizielle SDK ermöglicht die Entwicklung von spezialisierten Anwendungen auf Basis QubeOS und abstrahiert die Komplexität der Entwicklung von verteilten, dynamischen, verschlüsselten und ausfallsicheren Systemen.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="IoT" src="images/iot.png">
					<p>Das Internet<br>der Dinge</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Surveillance" src="images/surveillance.png">
					<p>Überwachungs-<br>Systeme</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Analytics" src="images/analytics.png">
					<p>Daten<br>Analyse</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Collaboration" src="images/collaboration.png">
					<p>Kollaborations-<br>software</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Social" src="images/social.png">
					<p>Soziale<br>Netzwerke</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geospacial" src="images/geospatial.png">
					<p>Geodaten<br>und Anwendungen</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="IoT" src="images/iot.png">
					<p>Das Internet<br>der Dinge</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Surveillance" src="images/surveillance.png">
					<p>Überwachungs-<br>Systeme</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Analytics" src="images/analytics.png">
					<p>Daten<br>Analyse</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Collaboration" src="images/collaboration.png">
					<p>Kollaborations-<br>software</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Social" src="images/social.png">
					<p>Soziale<br>Netzwerke</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geospatial" src="images/geospatial.png">
					<p>Geodaten<br>und Anwendungen</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<h1>Wir lieben <i class="highlight">Open Source</i></h1>

		<p>Unser Ziel ist es QubeOS für jeden zugänglich zu machen, um einen Standard für skalierbare Cloud Computing Lösungen zu schaffen. Dies ist nur möglich, wenn das Projekt für jedermann transparent bleibt.</p>

		<p>QubeOS und die dazugehörige, plattformübergreifende Client-App wird Open Source und absolut kostenfrei verfügbar sein!</p>
	</div>

	<div class="feature">
		<h1>Wir sind fast am <i class="highlight">Ziel</i></h1>

		<p>Nach mehr als einem Jahr Forschung und Entwicklung sind wir bereit für die Massenproduktion des Qube - eines netzwerkgebundenen, persönlichen Datenspeichergeräts - und der kommerziellen Veröffentlichung von QubeOS - der offenen Plattform für sichere und skalierbare Cloud-Anwendungen.</p>

		<p>Wir blicken in eine große Zukunft und einen ständig wachsenden Markt von Cloud Computing und Massendatenspeicher-Systemen.</p>

		<p>Alles, was übrig bleibt, um erfolgreich auf den Multi-Milliarden-Dollar-Markt einzutreten ist ein kleiner Funken. Wir sind auf der Suche nach zuverlässigen Investitionspartnern im Bereich der Informationstechnologien.</p>

		<p>Wir möchten unsere Vision, von der Welt von Morgen, mit Ihnen teilen.</p>
	</div>

	<div class="feature">
		<h1 style="font-weight: bold; color: black;">Lasst uns Kontakt aufnehmen</h1>

		<p class="description hide-small">Sie haben ein interessantes Angebot<br>oder wollen einfach mit uns Kontakt aufnehmen?<br>Lasst uns darüber reden, was wir gemeinsam erreichen können!</p>
		<p class="description hide-full">Sie haben ein interessantes Angebot<br>oder wollen einfach mit uns Kontakt aufnehmen?<br>Lasst uns darüber reden,<br>was wir gemeinsam erreichen können!</p>

		<div class="form">
			<input type="text" name="email" id="form-name" placeholder="Ihr Name und/oder Unternehmen">
			<div id="form-wrong-name" class="notification error hidden">Bitte geben Sie ihren Namen und/oder Unternehmen an</div>

			<input type="text" name="email" id="form-email" placeholder="Ihre Email-Adresse">
			<div id="form-wrong-email" class="notification error hidden">Bitte geben Sie ihre Email-Adresse an</div>

			<textarea name="message" id="form-message" placeholder="Ihre Nachricht" rows="6"></textarea>
			<div id="form-wrong-message" class="notification error hidden">Bitte geben Sie ihre Nachricht an uns an</div>
			
			<button onclick="send();">Senden</button>
			
			<div id="form-sending" class="notification neutral hidden">Ihre Nachricht wird gesendet...</div>

			<div id="form-error" class="notification error hidden">Irgendetwas ist schief gelaufen!<br>Bitte kontaktieren Sie uns über contact@qbeon.com</div>

			<div id="form-success" class="notification success hidden">Wir haben Ihre Kontaktanfrage erhalten<br>und antworten Ihnen so bald wie möglich.</div>
		</div>
	</div>
</div>