<div class="container" ng-controller="ArticleController">
	<div class="header">
		<div class="company">
			<img alt="Qbeon Logo" class="logo" src="images/qbeon.png">
			<span class="company-name">Qbeon</span>
		</div>
	</div>

	<div class="feature">
		<h1 class="hide-small">We believe in cloud technology<br>that's accessible to everyone</h1>
		<h1 class="hide-full">We believe<br>in cloud technology<br>that's accessible<br>to everyone</h1>

		<p>Digital data has become the foundation of our modern life and society. People, organisations and machines produce a lot of data that must be stored in a safe and reliable place. Our data must be available for us wherever we go on any device we use.

		<p>Computer technology has evolved and humanity entered the new era of cloud computing. Servers all over the world interconnected in a gigantic, distributed network form digital clouds.</p>

		<p>Cloud computing addresses the <i>Big Data</i> problem. When the amount of data to be processed or stored exceeds the limits of a single machine then there is a need for technology that distributes workloads and data sets among dynamic clusters of machines on the network.</p>
	</div>

	<div class="feature">
		<h1>The Cloud</h1>

		<p><i>The Cloud</i> represents applications located on the internet that abstract away complex computational infrastructures and provide only a simple user interface.</p>

		<p>Applications like Dropbox, Google Drive, Microsoft OneDrive and many others represent the SaaS (Software as a Service) category of <i>The Cloud</i>, they abstract away the complexity of distributed, fault tolerant and universally accessible file storages.</p>
	</div>

	<div class="feature">
		<h1>There is a major problem</h1>

		<p>We lose control of our data we upload onto the cloud. It becomes accessible to strangers and may easily be viewed, analyzed, altered, removed and used at their own discretion without our permission.</p>

		<p>The cloud doesn't belong to us and therefore we cannot control it. Signing up for an account we are signing an agreement on the terms of use of proprietary services policies of which may change at any time.</p>
	</div>

	<div class="feature">
		<h1>The cloud is just<br>someone else's computer</h1>

		<p>To preserve our privacy and protect our personal data we build our own file storages for home and corporate usage. While big companies, organisations and government agencies run their own IT infrastructures maintained by professional IT specialists smaller companies and average users simply can't afford running their own IT departaments.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">Existing personal storage devices<br>aren't solving this problem yet</h1>
		<h1 class="hide-full">Existing personal storage devices aren't solving this problem yet</h1>

		<p>Network attached personal storage devices have gained popularity during the rise of the cloud, they are however still very <b>difficult to setup</b> and use though, they require advanced technical skills, they still <b>aren't scalable</b> and they're still <b>not secure</b> enough.</p>

		<p>Their graphical user interfaces are <b>not consistent</b>, look different and not always offer the same set of functions across all the different platforms. The filesystems of existing storage devices lack the necessary features for extensive collaboration and control.</p>
		
		<p>It is therefore not surprising that we still have to choose between rich user experience and our own security.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">We want to solve this problem</h1>
		<h1 class="hide-full">We want to solve<br>this problem</h1>

		<p>Cloud technology is a powerful tool, yet it's power isn't accessible to everyone. Building private cloud applications for data processing and storage is a complex and expensive task.</p>

		<p>There is a need for a flexible cloud computing platform that is powerful yet controllable, dynamically scalable and secure. That's why for more than a year we work on a technology that eases the development of private cloud applications.</p>

		<p>Besides the <i>Big Data</i> problem there is a growing demand for a simple and secure personal file storage solution. That's why we designed a network attached personal file storage device based on our technology, that meets the latest requirements.</p>
	</div>

	<div class="feature" name="qube_en_US">
		<h1>Introducing the <i class="highlight">Qube</i></h1>

		<p class="description hide-small">A compact network attached file storage device<br>for home and small businesses</p>
		<p class="description hide-full">A compact network attached<br>file storage device for home<br>and small businesses</p>

		<div class="image">
			<img alt="The Qube" src="images/qube.jpg">
		</div>
		<p>It is very easy to setup and works right out of the box. Simply connect it to your router, install the Qube app on your smartphone, tablet or computer and your Qube is ready for use!</p>

		<p>Sharing of files and folders with your friends, your family and your colleagues over the Qube is private, simple and intuitive. High level of security is ensured through advanced encryption of disk and network communication.</p>

		<p>A modern graphical user interface provides a consistent user experience and the same functionality across all major platforms like Windows, Mac, Android, IOS and Linux.</p>

		<p>We developed a seamless remote access technology that automatically connects to the Qube from anywhere over the internet without any network configuration right out of the box. Not only does our technology provide intuitive remote access capabilities, it also protects the Qube from different kinds of external threats.</p>
	</div>

	<div class="feature app-preview">
		<h1><i class="highlight">Applications</i></h1>

		<p class="description hide-small">The Qube comes with four preinstalled applications<br>developed by Qbeon</p>
		<p class="description hide-full">The Qube comes with four<br>preinstalled applications<br>developed by Qbeon</p>
		<div class="slider">
			<slick settings="appSlider">
				<div class="slide">
					<img src="images/files-table.jpg">
				</div>
				<div class="slide">
					<img src="images/pictures-timeline.jpg">
				</div>
				<div class="slide">
					<img src="images/appstore.png">
				</div>
			</slick>
		</div>
		<ul class="unselectable">
			<li
				ng-class="{selected: curAppInSlider == 0}"
				ng-click="goToAppSlide(0)">
				Files
			</li>
			<li
				ng-class="{selected: curAppInSlider == 1}"
				ng-click="goToAppSlide(1)">
				Pictures
			</li>
			<li
				ng-class="{selected: curAppInSlider == 2}"
				ng-click="goToAppSlide(2)">
				App Store
			</li>
		</ul>
		<div class="app-desc hide-small">
			<p ng-show="curAppInSlider == 0">
				The Files application allows you to easily manage and browse through your file collections, find the files you need and quickly share them with others.</p>
			<p ng-show="curAppInSlider == 1">
				The Pictures application allows you to view and organize<br>your photo and video collections.</p>
			<p ng-show="curAppInSlider == 2">
				The App Store application allows you to purchase and install<br>new applications from the official Qbeon app store.</p>
		</div>
		<div class="app-desc hide-full">
			<p ng-show="curAppInSlider == 0">
				The Files application allows you to easily manage and browse through your file collections, find the files you need and quickly share them with others.</p>
			<p ng-show="curAppInSlider == 1">
				The Pictures application allows you to view and organize your photo and video collections.</p>
			<p ng-show="curAppInSlider == 2">
				The App Store application allows you to purchase and install new applications from the official Qbeon app store.</p>
		</div>
	</div>

	<div class="feature">
		<h1>Elegant <i class="highlight">Simplicity</i></h1>

		<p class="description hide-small">Ready in just a few minutes<br>no technical skills required</p>
		<p class="description hide-full">Ready in just a few minutes<br>no technical skills required</p>

		<div class="image">
			<img alt="Setup UI" src="images/setup.png">
		</div>
	</div>

	<div class="feature">
		<h1>Everything <i class="highlight">Synchronized</i></h1>

		<p class="description">All your data in one safe place</p>

		<div class="image">
			<img alt="Files UI" src="images/files.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Real Time <i class="highlight">Notifications</i></h1>

		<p class="description hide-small">Real time notifications ease collaboration<br>and inspire team work</p>
		<p class="description hide-full">Real time notifications<br>ease collaboration<br>and inspire team work</p>

		<div class="image">
			<img alt="Notifications UI" src="images/notifications.jpg">
		</div>
	</div>

	<div class="feature">
		<h1>Limitless <i class="highlight">Extensibility</i></h1>

		<p class="description hide-small">Applications extending your Qube's functionalities<br>can easily be installed from the official app store</p>
		<p class="description hide-full">Applications extending your Qube's functionalities can easily be installed from the official app store</p>

		<div class="image">
			<img alt="App logos" src="images/apps.png">
		</div>
	</div>

	<div class="feature">
		<h1>Full <i class="highlight">Control</i></h1>

		<p class="description hide-small">Installed applications are isolated<br>given a well defined set of permissions</p>
		<p class="description hide-full">Installed applications are isolated<br>given a well defined<br>set of permissions</p>

		<div class="image">
			<img alt="Permissions dialog UI" src="images/permissions.png">
		</div>
	</div>

	<div class="feature">
		<h1>Remote <i class="highlight">Access</i></h1>

		<p class="description hide-small">The Qube app automatically establishes<br>a secure remote access connection<br>when it leaves the local network</p>
		<p class="description hide-full">The Qube app automatically establishes a secure remote access connection when it leaves the local network</p>
		
		<div class="image">
			<img alt="Remote access illustration" src="images/remote_access.png">
		</div>
	</div>

	<div class="feature">
		<h1>High Level <i class="highlight">Security</i></h1>

		<p class="description hide-small">Encryption of disk and network communication<br>by default right out of the box</p>
		<p class="description hide-full">Encryption of disk<br>and network communication<br>by default right out of the box</p>

		<div class="image">
			<img alt="Disk and network communication encryption illustration" src="images/encryption.png">
		</div>
	</div>

	<div class="feature" name="qube-os_en_US">
		<h1>Powered by <i class="highlight">QubeOS</i></h1>

		<p class="description hide-small">The universal platform for cloud applications</p>
		<p class="description hide-full">The universal platform<br>for cloud applications</p>

		<p>QubeOS is an open source platform for distributed, fault tollerant and secure private cloud applications that provides a layer of abstraction for distributed systems programming, facilitating the development of scalable applications.</p>

		<p>Applications running on top of QubeOS are isolated, given a well defined set of system permissions. They can provide interactive, cross platform graphical user interfaces and also be packaged and published on the official app store.</p>

		<p>Applications build on top of the QubeOS API are dynamically scalable. You can run these on small standalone machines, clusters of machines and even globally distributed groups of machines.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Scaling" src="images/scale.png">
					<p>Dynamic<br>Scaling</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Replication" src="images/database.png">
					<p>Filesystem<br>Replication</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Self-Healing" src="images/healing.png">
					<p>Self Healing<br>Architecture</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation" src="images/isolation.png">
					<p>Application<br>Isolation</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Encryption" src="images/encryption_icon.png">
					<p>Advanced<br>Encryption</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geographical Distribution" src="images/geospatial.png">
					<p>Geographical<br>Distribution</p>
				</div>
				<div class="span1 grid-item">
					<img alt="GUI Client" src="images/client.png">
					<p>Cross Platform<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Integration" src="images/ui.png">
					<p>QML UI<br>Integration</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Scaling" src="images/scale.png">
					<p>Dynamic<br>Scaling</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Replication" src="images/database.png">
					<p>Filesystem<br>Replication</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Self-Healing" src="images/healing.png">
					<p>Self Healing<br>Architecture</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Isolation" src="images/isolation.png">
					<p>Application<br>Isolation</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Encryption" src="images/encryption_icon.png">
					<p>Advanced<br>Encryption</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geographical Distribution" src="images/geospatial.png">
					<p>Geographical<br>Distribution</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="GUI Client" src="images/client.png">
					<p>Cross Platform<br>GUI Client</p>
				</div>
				<div class="span1 grid-item">
					<img alt="UI Integration" src="images/ui.png">
					<p>QML UI<br>Integration</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature layers">
		<div
			class="layer-indicator">
			<div
				class="layer-indicator-container">
				<div
					class="machines"
					ng-click="toLayer('machines', true)"
					ng-class="{selected: layer == 'machines'}">
					<div class="indic"></div>
				</div>
				<div
					class="hypervisor"
					ng-click="toLayer('hypervisor', true)"
					ng-class="{
						selected: layer == 'hypervisor',
						visible: layer == 'hypervisor'
						|| layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="middleware"
					ng-click="toLayer('middleware', true)"
					ng-class="{
						selected: layer == 'middleware',
						visible: layer == 'middleware'
						|| layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="qubeos"
					ng-click="toLayer('qubeos', true)"
					ng-class="{
						selected: layer == 'qubeos',
						visible: layer == 'qubeos'
						|| layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
				<div
					class="apps"
					ng-click="toLayer('apps', true)"
					ng-class="{
						selected: layer == 'apps',
						visible: layer == 'apps'
					}">
					<div class="indic"></div>
				</div>
			</div>
		</div>
		<div
			ng-swipe-left="toPreviousLayer(true)"
			ng-swipe-right="toNextLayer(true)">
			<div class="layers-visualization">
				<img
					class="apps"
					ng-show="layer == 'apps'"
					alt="Apps Layer"
					src="images/layers_apps.png">
				<img
					class="qubeos"
					ng-show="
						layer == 'qubeos'
						|| layer == 'apps'"
					alt="QubeOS Layer"
					src="images/layers_qubeos.png">
				<img
					class="middleware"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'"
					alt="Middleware Layer"
					src="images/layers_middleware.png">
				<img
					class="hypervisor"
					ng-show="
						layer == 'apps'
						|| layer == 'qubeos'
						|| layer == 'middleware'
						|| layer == 'hypervisor'"
					alt="Hypervisor Layer"
					src="images/layers_hypervisor.png">
				<img
					class="machines"
					alt="Machines Layer"
					src="images/layers_machines.png">
			</div>
		</div>
		<div class="layer-name">
			<h1
				ng-show="layer == 'apps'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator apps"></div>
				Apps
			</h1>
			<h1
				ng-show="layer == 'qubeos'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator qubeos"></div>
				QubeOS
			</h1>
			<h1
				ng-show="layer == 'middleware'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator middleware"></div>
				System Modules
			</h1>
			<h1
				ng-show="layer == 'hypervisor'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator hypervisor"></div>
				Hypervisor
			</h1>
			<h1
				ng-show="layer == 'machines'"
				ng-click="toNextLayer(true)"
				ng-swipe-left="toPreviousLayer(true)"
				ng-swipe-right="toNextLayer(true)">
				<div class="indicator machines"></div>
				Machines
			</h1>
		</div>
		<div class="layer-desc hide-small">
			<p ng-show="layer == 'apps'">
				End user applications are installed and executed in an isolated QubeOS runtime<br>accessing data, network and computing resources over the QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS provides a unified high level platform<br>for developers of end user applications<br>based on cloud computing technology.
			</p>
			<p ng-show="layer == 'middleware'">
				Numerous system modules solving a wide set of problems<br>are available over the API.
			</p>
			<p ng-show="layer == 'hypervisor'">
				Internally QubeOS uses modern hypervisor technology<br>to spread workloads over the computing resources it disposes.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS runs on any x86 and ARM based machines, clusters of machines,<br>virtualized environments and IaaS cloud infrastructures.
			</p>
		</div>
		<div class="layer-desc hide-full">
			<p ng-show="layer == 'apps'">
				End user applications are installed and executed in an isolated QubeOS runtime accessing data, network and computing resources over the QubeOS API.
			</p>
			<p ng-show="layer == 'qubeos'">
				QubeOS provides a unified high level platform for developers of end user applications based on cloud computing technology.
			</p>
			<p ng-show="layer == 'middleware'">
				Numerous system modules solving a wide set of problems are available over the API.
			</p>
			<p ng-show="layer == 'hypervisor'">
				Internally QubeOS uses modern hypervisor technology to spread workloads over the computing resources it disposes.
			</p>
			<p ng-show="layer == 'machines'">
				QubeOS runs on any x86 and ARM based machines, clusters of machines, virtualized environments and IaaS cloud infrastructures.
			</p>
		</div>
	</div>

	<div class="feature">
		<h1>Run <i class="highlight">Anywhere</i></h1>
		
		<p class="description">QubeOS runs on infrastructure.</p>

		<p>You may host QubeOS instances wherever you want: on the little Qube at home, the <i>Qube Cluster</i> at the office, a custom setup of servers at your data center or an externally hosted IaaS provider in the cloud. It will automatically adjust to any given infrastructure.</p>
	</div>

	<div class="feature">
		<h1>Take <i class="highlight">Control</i></h1>
		
		<p class="description hide-small">Take full control over your very own cloud</p>
		<p class="description hide-full">Take full control<br>over your very own cloud</p>
		
		<p>Applications running on top of QubeOS are isolated given a well defined and manageable set of permissions you provide them. Resource usage, access to data and communication with domains on the internet is controlled by you.</p>
	</div>

	<div class="feature">
		<h1 class="hide-small">The Limit is Your <i class="highlight">Imagination</i></h1>
		<h1 class="hide-full">The Limit<br>is Your <i class="highlight">Imagination</i></h1>

		<p>Mass data storage is one of the fundamental building blocks of countless digital systems. QubeOS provides the flexibility and power for numerous fields of applications.</p>

		<p>Surveillance systems are a good example of applications that can leverage the capabilities of QubeOS, as they generate a lot of data. QubeOS can be used for processing and storage of large amounts of high resolution video streams.</p>

		<p>The growing amount of interconnected systems results in an exponentially growing amount of data. QubeOS is a scalable and reliable application platform for the internet of things and smart home appliances.</p>

		<p>Social networking, messaging and collaboration software is yet another field of applications that require private and secure exchange of information on scalable infrastructures that QubeOS targets.</p>

		<p>The QubeOS SDK allows you to develop your own commercial and private applications for QubeOS.</p>
	</div>

	<div class="hide-small">
		<div class="grid12">
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="IoT" src="images/iot.png">
					<p>Internet<br>of Things</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Surveillance" src="images/surveillance.png">
					<p>Security<br>Surveillance</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row4">
				<div class="span1 grid-item">
					<img alt="Analytics" src="images/analytics.png">
					<p>Data<br>Analytics</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Collaboration" src="images/collaboration.png">
					<p>Collaboration<br>Software</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Social" src="images/social.png">
					<p>Social<br>Networking</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geospatial" src="images/geospatial.png">
					<p>Geospatial<br>Applications</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hide-full">
		<div class="grid12">
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="IoT" src="images/iot.png">
					<p>Internet<br>of Things</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Surveillance" src="images/surveillance.png">
					<p>Security<br>Surveillance</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Streaming" src="images/streaming.png">
					<p>Multimedia<br>Streaming</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Smart Home" src="images/smarthome.png">
					<p>Smart<br>Home</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Analytics" src="images/analytics.png">
					<p>Data<br>Analytics</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Collaboration" src="images/collaboration.png">
					<p>Collaboration<br>Software</p>
				</div>
			</div>
			<div class="row2">
				<div class="span1 grid-item">
					<img alt="Social" src="images/social.png">
					<p>Social<br>Networking</p>
				</div>
				<div class="span1 grid-item">
					<img alt="Geospacial" src="images/geospatial.png">
					<p>Geospacial<br>Applications</p>
				</div>
			</div>
		</div>
	</div>

	<div class="feature">
		<h1>We Love <i class="highlight">Open Source</i></h1>

		<p>Choosing the open source philosophy we intend to make QubeOS avalable to everyone, while also ensuring transparency of the development of the project.</p>

		<p>QubeOS together with it's cross platform client app will be open source and absolutely free to use for everyone.</p>
	</div>

	<div class="feature">
		<h1>We are <i class="highlight">Almost There</i></h1>

		<p>After more than one year of research and development we are ready to start mass production of the Qube - a network attached personal storage device, and the commercial release of QubeOS - the open source platform for private and secure cloud storage solutions.</p>

		<p>We are looking forward into a great future of an ever growing market of cloud computing technologies. All that's left to successfully enter the high-tech market is just a little spark.</p>
	</div>

	<div class="feature">
		<h1>We are seeking for reliable investment partners in the field of IT technologies and we are willing to share our vision with you!</h1>
	</div>

	<div class="feature contact-form">
		<h1 style="font-weight: bold; color: black;">Let's get in touch</h1>

		<p class="description hide-small">You have an interesting offer or simply want to get in touch?<br>Let's talk about what we can achieve together!</p>
		<p class="description hide-full">You have an interesting offer or simply want to get in touch?<br>Let's talk about what<br>we can achieve together!</p>

		<div class="form">
			<input type="text" ng-model="formName" placeholder="Your Name and/or Company">
			<div ng-show="notificationNameWrong" class="notification error">Please provide your name and/or company</div>

			<input type="text" ng-model="formEmail" placeholder="Your Email Address">
			<div ng-show="notificationEmailWrong" class="notification error">Please provide your email address</div>

			<textarea ng-model="formMessage" placeholder="Your Message" rows="6"></textarea>
			<div ng-show="notificationMessageWrong" class="notification error">Please provide a message for us</div>
			
			<button ng-click="sendMessage()">Send</button>
			
			<div ng-show="notificationSending" class="notification neutral">Your message is being send...</div>

			<div ng-show="notificationFailure" class="notification error">Something went wrong!<br>Please contact us manually over <a href="mailto:contact@qbeon.com">contact@qbeon.com</a></div>

			<div ng-show="notificationSuccess" class="notification success">Thank you for contacting us!<br>we will reply to you as soon as possible.</div>
		</div>
	</div>
</div>