<div class="navigation">
	<div class="container">
		<div class="company">
			<div class="logo">
				<img src="images/qbeon.png">
			</div>
			<span>Qbeon</span>
		</div>
		<ul>
			<li ng-click="showLangSelector()">
				<span ng-show="locale == 'en_US'">EN</span>
				<span ng-show="locale == 'de_DE'">DE</span>
			</li>
			<li>
				<a
					ng-show="locale == 'en_US'"
					href="#qube-os_en_US"
					du-smooth-scroll
					du-scrollspy
					duration="1000">
					QubeOS
				</a>
				<a
					ng-show="locale == 'de_DE'"
					href="#qube-os_de_DE"
					du-smooth-scroll
					du-scrollspy
					duration="1000">
					QubeOS
				</a>
			</li>
			<li>
				<a
					ng-show="locale == 'en_US'"
					href="#qube_en_US"
					du-smooth-scroll
					du-scrollspy
					duration="1000">
					Qube
				</a>
				<a
					ng-show="locale == 'de_DE'"
					href="#qube_de_DE"
					du-smooth-scroll
					du-scrollspy
					duration="1000">
					Qube
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="navigation-small">
	<div class="company">
		<div class="logo">
			<img src="images/qbeon.png">
		</div>
		<span>Qbeon</span>
	</div>
	<div class="lang" ng-click="showLangSelector()">
		<span ng-show="locale == 'en_US'">EN</span>
		<span ng-show="locale == 'de_DE'">DE</span>
	</div>
</div>