@import util
@import responsive
@import container
@import grigen
@import navigation
@import footer
@import language-selector

@font-face
	font-family: segoe
	src: url(fonts/segoe.ttf)

@font-face
	font-family: segoe-light
	src: url(fonts/segoeuil.ttf)

@font-face
	font-family: audiowide
	src: url(fonts/audiowide.ttf)

$grid12_classes: ('grid': 'grid12', 'row': 'row', 'span': 'span')
$grid12_options: ('width': 100%, 'columns': 12, 'spacing-method': 'margin')
$grid12_spaces: ()
$grid12_break-points: ('thin': 767px)
+grigen-responsive-grid($grid12_classes, $grid12_options, $grid12_spaces, $grid12_break-points)

body, html
	margin: 0px
	font-family: segoe

.header
	height: 4rem
	padding-top: 16rem
	text-align: center
	cursor: default
	+small
		padding-top: 8rem
	.company
		width: 14rem
		display: inline-block
		margin: auto
		font-size: 3rem
		line-height: 4rem
		font-family: segoe
		+small
			width: 10rem
			line-height: 3rem
		.company-name
			float: right
			font-family: audiowide
			text-transform: uppercase
			font-size: 2rem
			+small
				font-size: 1.5rem
		.logo
			float: left
			height: 4rem
			width: 4rem
			+small
				width: 3rem
				height: 3rem

.slogan
	margin-top: 6rem

.form
	padding-left: 4rem
	padding-right: 4rem
	+small
		padding-left: 0rem
		padding-right: 0rem

input, textarea, button
	box-sizing: border-box
	padding: 1rem
	width: 100%
	margin-top: 1rem
	font-size: 1rem
	font-family: segoe
	resize: vertical
	border-radius: .2rem
	border: 1px solid #CCC

button
	+selectable(none)
	background-color: rgb(250,250,250)

p
	font-size: 1rem
	line-height: 2rem
	+small
		line-height: 1.5rem

h1
	font-weight: normal
	display: block
	font-size: 1.8rem
	color: #666
	text-align: center
	font-family: segoe-light
	line-height: 3rem
	+small
		font-size: 1.5rem
		line-height: 2.5rem
		padding-top: 3rem
		padding-bottom: 3rem

.feature
	padding-top: 6rem
	+small
		padding-top: 1rem
		padding-bottom: 1rem
	h1
		text-align: center
		padding-top: 1rem
		padding-bottom: 0rem
		.highlight
			font-style: normal
			font-weight: bold
			color: black
	.description
		margin-top: 1rem
		margin-bottom: 2rem
		text-align: center
		font-family: segoe
		padding-left: 2rem
		padding-right: 2rem
		color: #666
		+small
			padding-left: 1rem
			padding-right: 1rem
	.image
		border-radius: .25rem
		overflow: hidden
		margin-top: 2rem
		margin-bottom: 1rem
		img
			width: 100%
			display: block

.feature:last-of-type
	padding-bottom: 10rem
	+small
		padding-bottom: 4rem

.feature.contact-form
	padding-top: 2rem

.grid12
	margin-top: 8rem
	+small
		margin-top: 2rem

.row1, .row2, .row3, .row4, .row5
	height: 9rem
	padding-top: 2rem
	text-align: center
	+small
		height: 10rem
	img
		width: 3rem
		display: block
		margin: auto
	p
		display: block
		margin-top: 1rem
		font-family: segoe-light
		font-weight: bold
		line-height: 1.5rem

.notification
	display: block
	padding: .5rem
	line-height: 1.5rem
	margin-top: 1rem
	text-align: center

.notification.error
	background-color: #FFDDDD
	color: #F00

.notification.neutral
	background-color: #EEE
	color: #AAA

.notification.success
	background-color: #DDFFDD
	color: #035800

.notification.hidden
	display: none

.app-preview
	ul
		display: block
		width: 100%
		list-style: none
		text-align: center
		margin: 0px
		padding: 0px
		border-bottom: 1px solid #DDD
		cursor: default
		li
			display: inline-block
			padding: 1.5rem
			cursor: pointer
			border-bottom: 2px solid rgba(0,0,0,0)
			color: rgba(0,0,0,.3)
			+default_transition
			+small
				padding: 1rem
				padding-top: 1.5rem
				padding-bottom: 1.5rem
		li.selected
			border-bottom: 2px solid #000
			color: rgba(0,0,0,1)
	.app-desc
		position: relative
		height: auto
		width: 100%
		height: 12rem
		p
			position: absolute
			width: 100%
			margin: 0px
			margin-top: 1rem
			text-align: center
			+default_transition
		p.ng-hide
			display: none
			opacity: 0
		p.ng-hide-add, p.ng-hide-remove
			display: inline-block !important


.slide
	outline: none
	height: auto
	img
		width: 100%
	span
		position: absolute
		width: 100%
		font-size: 1.5rem
		color: red

.feature.layers
	position: relative
	padding-top: 8rem
	.layers-visualization
		+selectable(none)
		width: 24rem
		height: 25.2rem
		position: relative
		margin: auto
		margin-top: 4rem
		margin-bottom: 2rem
		+small
			width: 12rem
			height: 12.6rem
		img
			width: 100%
			position: absolute
		img.ng-hide
			display: none
			opacity: 0
			transform: translate(0, -1rem)
		img.ng-hide-add, img.ng-hide-remove
			transition: 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) all
			display: inline-block !important
		img.apps
			z-index: 5
			top: 0rem
			+small
				top: 0rem
		img.qubeos
			z-index: 4
			top: 2.6rem
			+small
				top: 1.3rem
		img.middleware
			z-index: 3
			top: 6.4rem
			+small
				top: 3.2rem
		img.hypervisor
			z-index: 2
			top: 9rem
			+small
				top: 4.5rem
		img.machines
			z-index: 1
			top: 12rem
			+small
				top: 6rem
	.layer-name
		position: relative
		height: 3rem
		line-height: 3rem
		cursor: pointer
		h1
			+selectable(none)
			width: 100%
			position: absolute
			margin: 0rem
			padding: 0rem
			text-align: center
			+default_transition
		h1.ng-hide
			display: none
			opacity: 0
		h1.ng-hide-add, h1.ng-hide-remove
			display: inline-block !important

		.indicator
			width: 1rem
			height: 1rem
			background-color: #CCC
			display: inline-block
			border-radius: .5rem
			margin-right: .5rem
		.indicator.apps
			background-color: #ffd38d
		.indicator.qubeos
			background-color: #0069cb
		.indicator.middleware
			background-color: #fd7e7e
		.indicator.hypervisor
			background-color: #8d6cb6
		.indicator.machines
			background-color: #c0c0c0
	.layer-indicator
		text-align: center
		bottom: 0rem
		height: 4rem
		line-height: 4rem
		.layer-indicator-container
			position: relative
			text-align: center
			display: inline-block
			width: 9rem
			height: 1rem
			.apps, .qubeos, .middleware, .hypervisor, .machines
				cursor: pointer
				width: 2rem
				height: 2rem
				position: absolute
				display: inline-block
				.indic
					width: .5rem
					height: .5rem
					position: absolute
					display: inline-block
					border-radius: .25rem
					background-color: #EEE
					top: 0.75rem
					margin-left: -0.25rem
					+default_transition
			.apps.selected,
			.qubeos.selected,
			.middleware.selected,
			.hypervisor.selected,
			.machines.selected
				.indic			
					width: 1rem
					height: 1rem
					border-radius: .5rem
					top: .5rem
					margin-left: -.5rem
			.apps.visible
				.indic
					background-color: #ffd38d
			.qubeos.visible
				.indic
					background-color: #0069cb
			.middleware.visible
				.indic
					background-color: #fd7e7e
			.hypervisor.visible
				.indic
					background-color: #8d6cb6
			.machines
				.indic
					background-color: #c0c0c0
			.machines
				left: 0rem
			.hypervisor
				left: 2rem
			.middleware
				left: 4rem
			.qubeos
				left: 6rem
			.apps
				left: 8rem
	.layer-desc
		position: relative
		width: 100%
		height: 12rem
		p
			width: 100%
			position: absolute
			margin: 0px
			margin-top: 1rem
			text-align: center
			+default_transition
		p.ng-hide
			display: none
			opacity: 0
		p.ng-hide-add, p.ng-hide-remove
			display: inline-block !important
