@mixin transition($transition-property, $time, $method)
	-webkit-transition: $transition-property $time $method
	-moz-transition: $transition-property $time $method
	-ms-transition: $transition-property $time $method
	-o-transition: $transition-property $time $method
	transition: $transition-property $time $method

@mixin selectable($method)
	-webkit-touch-callout: $method
	-webkit-user-select: $method
	-khtml-user-select: $method
	-moz-user-select: $method
	-ms-user-select: $method
	user-select: $method

@mixin default_transition
	+transition(all, 0.2s, cubic-bezier(0.250, 0.460, 0.450, 0.940))

.unselectable
	+selectable(none)

.unscrollable
	overflow: hidden

.center-container
	position: relative
	height: 100%

.center-container:before
	content: ''
	display: inline-block
	height: 100%
	vertical-align: middle


.centered
	display: inline-block
	vertical-align: middle